body {
    background-color: lightgrey;
}
input.inputTextForm{
	border:1px solid black;
}
input.buildCollageButton{
	color: white;
	background-color: #696969;
	border: none;
}
.formDiv{
	margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;               
   	top: 50%;
}